 body{
    background-image: url("https://i.pinimg.com/736x/b9/a7/12/b9a71204fd3600788d79ef69c46f43d4.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-color: rgb(245, 247, 248);
 }