body{
    background-image: url("https://img.freepik.com/free-vector/hand-drawn-flat-design-stack-books_23-2149342941.jpg?semt=ais_hybrid") ;
    
    background-repeat: no-repeat;
    background-position: right top;
    
    
}
a{text-decoration: none;}
/* #r{
    text-align:left;
} */