body{
    background-image: url("https://img.freepik.com/free-vector/hand-drawn-flat-design-stack-books-illustration_23-2149341898.jpg?semt=ais_hybrid");
    background-repeat: no-repeat;
    background-position: right top;
    background-color:rgb(240, 251, 251);
}
#x{
    text-decoration: none;
}